/*body background-color: #231f20
gold color: #fca311;
white color: #e5e5e5;*/


/*-------header---------*/

.container {
    background-color: #231f20;
    color: #e5e5e5;
}

header{
 padding: 35px;
}

.navigatie a{
    color: #e5e5e5;
    text-decoration: none;
    font-size: 15px;
    padding-left: 15px;
    font-weight: 550;
    }
    .navigatie :hover{
        color:#fca311;
    }

    @media (max-width: 1000px) {
        .navigatie a {    
            margin: 0 auto !important;
            margin-top: 20px !important;
        }
        .navigatie{
            text-align: center;
            justify-content: center;
        }
    }


    #logo{
        font-size: 25px;
        color: #fca311;
    }

 

/*---------main-----------*/

main{
    padding: 60px;
}

#leesMeer{
    font-size: 20px;
}
#leesMeer a{
    color: #fca311;
}

#imgHome{
    padding-left: 30px;
}

#lijnHome{

    border: solid 1px #fca311;
}
@media (max-width: 1000px){
    #lijnHome{

        display: none;
    }
    #section2Home {
        display: flex !important;
        flex-direction: column !important; 
        align-items: center !important;
        padding-top: 20px !important;
      }
    
      #iconsHome {
        display: flex !important;
        flex-direction: row !important; 
        justify-content: center !important;
        gap: 10px !important;
      }
}

#section2Home{
    padding-top: 50px;
}

.icon{
    margin-left: 6px;
}

.zigzag{
    margin-top: 100px;
    text-align: center;
    opacity: 0.5;
    margin-bottom: 100px;
}

h2{
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    padding-bottom: 50px;
}

.custom-link {
    text-decoration: none;
}


/*-------------footer-----------------*/




footer {
    background-color: #231f20;
    color: #e5e5e5;
    padding: 20px;
    text-align: center;
    font-size: 16px;
  }
  

  footer .col-6 {
    display: flex;
    align-items: center;
  }
  

  footer .col-6::before {
    content: "\00a9";
    font-size: 20px;
    margin-right: 5px;
  }
  
 
  footer .col-6 p {
    margin: 5px 0;
  }
  
 
  footer .col-6 a {
    color: #fca311;
    text-decoration: none;
  }
  
  
  footer .col-6::after {
    content: "";
    border-right: 1px solid #fca311;
    height: 80px;
    margin: 0 20px;
  }
  
  
  footer .col-6:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  @media (max-width: 768px) {
    footer .col-6::after {
      content: none;
    }
    footer .col-6 {
      flex-direction: column;
      text-align: center;
    }
  }


  /*---------------CV----------------*/


  .section1Cv{
    padding-top: 50px;
  }
  .section1Cv p{
    font-size: 20px;
  }

  .hire-button {
    background-color: #fca311; 
    color: #fff; 
    border: none; 
    padding: 10px 20px;
    font-size: 16px; 
    cursor: pointer; 
    margin-top: 30px;
  }
  
 
  .hire-button:hover {
    background-color: #c27d0f; 
  }
  


  .tableCV {
    width: 60%;
    border-collapse: collapse;
    margin: 0 auto;
}

.tableCV td {
    padding: 10px;
    border: 1px solid #fca311;
    color: #e5e5e5;
}

.tableCV tr:hover {
    background-color: #fca311;
}

.tableCV td:first-child {
    font-weight: 550;
}

#table1, #table2, #table3 h2{
    margin-top: 50px;
}

#table3{
    margin-bottom: 50px;
}

.table-responsive {
    overflow-x: auto;
  }

  #skills-carousel{
    margin-bottom: 60px;
  }

  
/*-------------------Hobbies----------------*/


.col-lg-6 h3{
    color: #fca311;
}

/*--------------Contact------------*/


.section1Contact .imgContact{
    text-align: end;
}

@media (max-width: 767px) {
    .imgContact{
        padding-top: 20px;
    }
}


.btn-custom {
    background-color: #fca311 !important;
    color: #fff !important; 
    transition: background-color 0.3s ease !important; 

    
}
.btn-custom:hover {
    background-color: #c27d0f !important;
}



